<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <%- include('navbar') %> 
  <table border>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>E-mail</th>
      <th>Password</th>
    </tr>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.id %> </td>
      <td><%= user.username %> </td>
      <td><%= user.email %> </td>
      <td><%= user.password %> </td>
    </tr>
    <% }) %> 
  </table>
</body>
</html>